.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;

  @media (min-width: 320px) {
    max-width: 768px;
  }

  @media (min-width: 768px) {
    max-width: 1440px;
  }

  @media (min-width: 1440px) {
    padding: 0 40px;
  }
}
