@import './blocks/container.scss';
@import './blocks/fonts.scss';
@import './blocks/visually-hidden.scss';

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  background-color: #f8f8f8;
  color: $base-black;
  margin: 0;
}

.title {
  margin: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 133%;
  color: $primary-color;
  text-transform: uppercase;
}

.subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 152%;
  text-align: center;
  color: $base-black;

  @media (min-width: $breakpoint-md) {
    font-size: 36px;
  }

  @media (min-width: $breakpoint-lg) {
    font-size: 42px;
  }
}
